body {
    background-color: aquamarine;
}
h3 {
    background-color: rgb(196, 110, 130);
    color: rgb(47, 14, 78);
    font-weight: bold;
    margin-top: 0px;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#sketch {
    float: right;

}
p {
    margin-top: 20px;
    font-size: 20px;
}
canvas {
    margin-top: 45px;
    border: 2px dotted red;
    border-radius: 20px;
    animation-name: canvas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes canvas{
    from{box-shadow: 1px 1px 37px grey;}
    to{box-shadow: 1px 1px 37px white;}
}
